/* ----------------------------------------------------
This is the main stylesheet for G3 Architects project
------------------------------------------------------- */


/* reset the css default value  */
* {
    padding: 0px;
    margin: 0px;
}





/* imported external fonts for this project  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


/* set universel value for this project  */
body {
    font-family: 'Work Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}


/* header style  */
.header {
    width: 100%;
    background-color: #FF900E1A;
    padding-top: 50px;
    margin-bottom: 85px;


}


/* navigation style here  */
.navigation {

    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.navigation .right ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.navigation .right ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}



/* banner style  */
.banner {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    margin-bottom: 30px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-bottom: 30px;
}

.banner .primary-btn {
    margin-bottom: 50px;
}

.primary-btn {
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 20px 24px;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    outline: none;
    cursor: pointer;
}

.banner-img {
    margin-bottom: 50px;
}

.banner-img img {
    width: 100%;
    height: auto;
    max-width: 1440px;
    max-height: 700px;
    height: auto;
}


/* main element style  */
.main {
    margin-top: 85px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


/* quick list section css  */
.quick-list {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
    margin-bottom: 130px;
}

.quick-list-img-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 10px;
}

.list-heading {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    margin-bottom: 24px;


}

.primary-color {
    color: #FF900E;
}

.list-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}

/* features section style  */
.features {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-bottom: 130px;
}

.features-heading {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;
}

.features-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.features-item .item-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;

}

.features-item .item-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

.features-item {
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 1px 1px 16px #e8e6e6;
    border-radius: 8px;
}

.features-img {
    width: 100%;
    height: auto;
    position: relative;
}

.features-img img {
    width: 100%;
    height: auto;
}

.experience {
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border-radius: 8px;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    position: absolute;
    bottom: -100px;
    left: -127px;
}

.ex-title {
    font-weight: 700;
    font-size: 65px;
}

.ex-des {
    font-weight: 500;
    font-size: 25px;
}




/* some fact section style  */
.fact {
    width: 100%;
    height: auto;
    margin-top: 130px;
    margin-bottom: 180px;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.section-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 100px;
}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 242px);
    grid-template-rows: 242px;
    gap: 124px;
    justify-content: center;

}

.fact-item {
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-count {
    font-weight: 600;
    font-size: 45px;
    color: #424242;

}

.item-name {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}



/* sponsors style css here  */
.sponsors {
    width: 100%;
    height: auto;
}

.sponsors-heading {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    color: #131313;
    margin-bottom: 24px;
}

.sponsors-description {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}

.sponsors-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}




/* footer style css here  */

.footer {
    width: 100%;
    max-width: 1440px;
    height: 100px;
    margin: 0 auto;
    background-color: #FFF4E7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 200px;
}

.footer p {
    font-weight: 400;
    font-size: 20px;
    color: #424242;

}